<div class="toolbar" *ngIf="!isDisabled">
  <!-- undo / redo -->
  <div class="toolbar-group">
    <button type="button" (click)="undo()" [title]="'editor.toolbar.undo' | translate"><i class="fas fa-undo"></i></button>
    <button type="button" (click)="redo()" [title]="'editor.toolbar.redo' | translate"><i class="fas fa-redo"></i></button>
  </div>

  <ng-container *ngIf="toolbarPreset === 'minimal'">
    <div class="toolbar-group">
      <button type="button" (click)="toggleBold()" [title]="'editor.toolbar.bold' | translate"><i class="fas fa-bold"></i></button>
      <button type="button" (click)="toggleItalic()" [title]="'editor.toolbar.italic' | translate"><i class="fas fa-italic"></i></button>
      <button type="button" (click)="toggleUnderline()" [title]="'editor.toolbar.underline' | translate"><i class="fas fa-underline"></i></button>
    </div>
  </ng-container>

  <ng-container *ngIf="toolbarPreset === 'full'">
    <!-- blocos -->
    <div class="toolbar-group">
      <!-- blocos dropdown -->
      <div class="toolbar-dropdown">
        <button type="button" (click)="toggleBlocksDropdown()" class="dropdown-trigger" [title]="'editor.toolbar.blockTypes' | translate">
          <i [ngClass]="currentBlockType"></i> <i class="fas fa-chevron-down"></i>
        </button>
        <div class="dropdown-menu" *ngIf="showBlocksDropdown" (click)="$event.stopPropagation()">
          <button type="button" (click)="selectBlockType('paragraph')" class="dropdown-item">
            <i class="fas fa-paragraph"></i> {{ 'editor.blocks.paragraph' | translate }}
          </button>
          <button type="button" (click)="selectBlockType('h1')" class="dropdown-item">
            <i class="fas fa-heading"></i> {{ 'editor.blocks.heading1' | translate }}
          </button>
          <button type="button" (click)="selectBlockType('h2')" class="dropdown-item">
            <i class="fas fa-heading"></i> {{ 'editor.blocks.heading2' | translate }}
          </button>
          <button type="button" (click)="selectBlockType('h3')" class="dropdown-item">
            <i class="fas fa-heading"></i> {{ 'editor.blocks.heading3' | translate }}
          </button>
          <button type="button" (click)="selectBlockType('h4')" class="dropdown-item">
            <i class="fas fa-heading"></i> {{ 'editor.blocks.heading4' | translate }}
          </button>
          <button type="button" (click)="selectBlockType('h5')" class="dropdown-item">
            <i class="fas fa-heading"></i> {{ 'editor.blocks.heading5' | translate }}
          </button>
          <button type="button" (click)="selectBlockType('h6')" class="dropdown-item">
            <i class="fas fa-heading"></i> {{ 'editor.blocks.heading6' | translate }}
          </button>
          <hr class="dropdown-divider" />
          <button type="button" (click)="selectBlockType('quote')" class="dropdown-item">
            <i class="fas fa-quote-left"></i> {{ 'editor.blocks.quote' | translate }}
          </button>
          <button type="button" (click)="selectBlockType('code-block')" class="dropdown-item">
            <i class="fas fa-code"></i> {{ 'editor.blocks.codeBlock' | translate }}
          </button>
        </div>
      </div>

      <!-- listas -->
      <button type="button" (click)="toggleBulletList()" [title]="'editor.toolbar.bulletList' | translate"><i class="fas fa-list-ul"></i></button>
      <button type="button" (click)="toggleOrderedList()" [title]="'editor.toolbar.orderedList' | translate"><i class="fas fa-list-ol"></i></button>
    </div>

    <div class="toolbar-group">
      <!-- inline marks -->
      <button type="button" (click)="toggleBold()" [title]="'editor.toolbar.bold' | translate"><i class="fas fa-bold"></i></button>
      <button type="button" (click)="toggleItalic()" [title]="'editor.toolbar.italic' | translate"><i class="fas fa-italic"></i></button>
      <button type="button" (click)="toggleCode()" [title]="'editor.toolbar.code' | translate"><i class="fas fa-code"></i></button>
      <button type="button" (click)="toggleUnderline()" [title]="'editor.toolbar.underline' | translate"><i class="fas fa-underline"></i></button>
    </div>

    <div class="toolbar-group">
      <!-- link -->
      <button type="button" (click)="setLink()" [title]="'editor.toolbar.link' | translate"><i class="fas fa-link"></i></button>
      <button type="button" (click)="unsetLink()" [title]="'editor.toolbar.unlink' | translate"><i class="fas fa-unlink"></i></button>
    </div>

    <div class="toolbar-group">
      <!-- mention dialog -->
      <button type="button" (click)="openMentionDialog()" *ngIf="enableMention" [title]="'editor.toolbar.mention' | translate"><i class="fas fa-at"></i></button>
    </div>
  </ng-container>

</div>

<!-- Mention Dialog -->
<div class="mention-dialog-overlay" *ngIf="showMentionDialog" (click)="closeMentionDialog()">
  <div class="mention-dialog" (click)="$event.stopPropagation()">
    <div class="mention-dialog-header">
      <h3>{{ 'editor.dialogs.mentionTitle' | translate }}</h3>
      <button class="close-btn" (click)="closeMentionDialog()">×</button>
    </div>
    <div class="mention-dialog-content">
      <button
        *ngFor="let item of mentionItems"
        class="mention-dialog-item"
        (click)="insertMention(item)">
        {{ item.label }}
      </button>
    </div>
  </div>
</div>

<!-- Balloon Context Menu -->
<div 
  class="balloon-menu" 
  *ngIf="showBalloonMenu"
  [style.top]="balloonMenuPosition.top"
  [style.left]="balloonMenuPosition.left"
  (click)="$event.stopPropagation()">
  <button 
    type="button" 
    class="balloon-button" 
    (click)="toggleBold(); closeBalloonMenu()"
    [title]="'editor.balloonMenu.bold' | translate">
    <i class="fas fa-bold"></i>
  </button>
  <button 
    type="button" 
    class="balloon-button" 
    (click)="toggleItalic(); closeBalloonMenu()"
    [title]="'editor.balloonMenu.italic' | translate">
    <i class="fas fa-italic"></i>
  </button>
  <button 
    type="button" 
    class="balloon-button" 
    (click)="toggleUnderline(); closeBalloonMenu()"
    [title]="'editor.balloonMenu.underline' | translate">
    <i class="fas fa-underline"></i>
  </button>
  <button 
    type="button" 
    class="balloon-button" 
    (click)="toggleCode(); closeBalloonMenu()"
    [title]="'editor.balloonMenu.code' | translate">
    <i class="fas fa-code"></i>
  </button>
  <div class="balloon-divider"></div>
  <button 
    type="button" 
    class="balloon-button" 
    (click)="setLink(); closeBalloonMenu()"
    [title]="'editor.balloonMenu.link' | translate">
    <i class="fas fa-link"></i>
  </button>
</div>

<div
  #editorElement
  class="editor-surface"
  [style.min-height]="minHeight">
</div>
