<div class="toolbar" *ngIf="!isDisabled">
  <!-- undo / redo -->
  <div class="toolbar-group">
    <button type="button" (click)="undo()" [title]="'editor.toolbar.undo' | translate"><i class="fas fa-undo"></i></button>
    <button type="button" (click)="redo()" [title]="'editor.toolbar.redo' | translate"><i class="fas fa-redo"></i></button>
  </div>

  <ng-container *ngIf="toolbarPreset === 'minimal'">
    <div class="toolbar-group">
      <button type="button" (click)="toggleBold()" [title]="'editor.toolbar.bold' | translate"><i class="fas fa-bold"></i></button>
      <button type="button" (click)="toggleItalic()" [title]="'editor.toolbar.italic' | translate"><i class="fas fa-italic"></i></button>
      <button type="button" (click)="toggleUnderline()" [title]="'editor.toolbar.underline' | translate"><i class="fas fa-underline"></i></button>
      <button type="button" (click)="toggleStrike()" [title]="'editor.toolbar.strike' | translate"><i class="fas fa-strikethrough"></i></button>
    </div>
  </ng-container>

  <ng-container *ngIf="toolbarPreset === 'full'">
    <!-- blocos -->
    <div class="toolbar-group">
      <!-- blocos dropdown -->
      <div class="toolbar-dropdown">
        <button type="button" (click)="toggleBlocksDropdown()" class="dropdown-trigger" [title]="'editor.toolbar.blockTypes' | translate" style="margin-top: 6px;">
          <i [ngClass]="currentBlockType"></i>
        </button>
        <div class="dropdown-menu" *ngIf="showBlocksDropdown" (click)="$event.stopPropagation()">
          <button type="button" (click)="selectBlockType('paragraph')" class="dropdown-item">
            <i class="fas fa-paragraph"></i> {{ 'editor.blocks.paragraph' | translate }}
          </button>
          <button type="button" (click)="selectBlockType('h1')" class="dropdown-item">
            <i class="fas fa-heading"></i> {{ 'editor.blocks.heading1' | translate }}
          </button>
          <button type="button" (click)="selectBlockType('h2')" class="dropdown-item">
            <i class="fas fa-heading"></i> {{ 'editor.blocks.heading2' | translate }}
          </button>
          <button type="button" (click)="selectBlockType('h3')" class="dropdown-item">
            <i class="fas fa-heading"></i> {{ 'editor.blocks.heading3' | translate }}
          </button>
          <button type="button" (click)="selectBlockType('h4')" class="dropdown-item">
            <i class="fas fa-heading"></i> {{ 'editor.blocks.heading4' | translate }}
          </button>
          <button type="button" (click)="selectBlockType('h5')" class="dropdown-item">
            <i class="fas fa-heading"></i> {{ 'editor.blocks.heading5' | translate }}
          </button>
          <button type="button" (click)="selectBlockType('h6')" class="dropdown-item">
            <i class="fas fa-heading"></i> {{ 'editor.blocks.heading6' | translate }}
          </button>
          <hr class="dropdown-divider" />
          <button type="button" (click)="selectBlockType('quote')" class="dropdown-item">
            <i class="fas fa-quote-left"></i> {{ 'editor.blocks.quote' | translate }}
          </button>
          <button type="button" (click)="selectBlockType('code-block')" class="dropdown-item">
            <i class="fas fa-code"></i> {{ 'editor.blocks.codeBlock' | translate }}
          </button>
        </div>
      </div>

      <!-- text align dropdown -->
      <div class="toolbar-dropdown">
        <button type="button" (click)="toggleTextAlignDropdown()" class="dropdown-trigger" [title]="'editor.toolbar.textAlign' | translate"style="margin-top: 6px;">
          <i [ngClass]="getTextAlignIcon()"></i>
        </button>
        <div class="dropdown-menu" *ngIf="showTextAlignDropdown" (click)="$event.stopPropagation()">
          <button type="button" (click)="setTextAlign('left')" class="dropdown-item">
            <i class="fas fa-align-left"></i> {{ 'editor.toolbar.alignLeft' | translate }}
          </button>
          <button type="button" (click)="setTextAlign('center')" class="dropdown-item">
            <i class="fas fa-align-center"></i> {{ 'editor.toolbar.alignCenter' | translate }}
          </button>
          <button type="button" (click)="setTextAlign('right')" class="dropdown-item">
            <i class="fas fa-align-right"></i> {{ 'editor.toolbar.alignRight' | translate }}
          </button>
          <button type="button" (click)="setTextAlign('justify')" class="dropdown-item">
            <i class="fas fa-align-justify"></i> {{ 'editor.toolbar.alignJustify' | translate }}
          </button>
        </div>
      </div>

      <!-- listas -->
      <!-- bullet list with dropdown -->
      <div class="toolbar-dropdown">
        <button type="button" (click)="toggleBulletListTypeDropdown()" class="dropdown-trigger list-type-button" [title]="'editor.toolbar.bulletList' | translate">
          <span class="list-type-icon">{{ getBulletListTypeIcon() }}</span>
        </button>
        <div class="dropdown-menu list-type-grid-menu" *ngIf="showBulletListTypeDropdown" (click)="$event.stopPropagation()">
          <div class="list-type-grid bullet-list-grid">
            <button type="button" 
                    *ngFor="let type of bulletListTypes" 
                    (click)="applyBulletListType(type.value)" 
                    [class.active]="currentBulletListType === type.value"
                    [title]="type.labelKey | translate"
                    class="list-type-grid-item"
                    >
              <span class="list-type-preview-large">{{ type.icon }}</span>
            </button>
          </div>
          <ng-container *ngIf="isInBulletList()">
            <hr class="dropdown-divider" />
            <button type="button" 
                    (click)="removeBulletList()"
                    [title]="'editor.bulletListTypes.remove' | translate" 
                    class="dropdown-item"
                    style="white-space: nowrap;">
              <i class="fas fa-times-circle list-remove-icon"></i> {{ 'editor.bulletListTypes.remove' | translate }}
            </button>
          </ng-container>
        </div>
      </div>
      
      <!-- ordered list with dropdown -->
      <div class="toolbar-dropdown">
        <button type="button" (click)="toggleOrderedListTypeDropdown()" class="dropdown-trigger list-type-button" [title]="'editor.toolbar.orderedList' | translate">
          <span class="list-type-icon">{{ getOrderedListTypeIcon() }}</span>
        </button>
        <div class="dropdown-menu list-type-grid-menu" *ngIf="showOrderedListTypeDropdown" (click)="$event.stopPropagation()">
          <div class="list-type-grid">
            <button type="button" 
                    *ngFor="let type of orderedListTypes" 
                    (click)="applyOrderedListType(type.value)" 
                    class="list-type-grid-item"
                    [class.active]="currentOrderedListType === type.value"
                    [title]="type.labelKey | translate">
              <span class="list-type-preview-large">{{ type.icon }}</span>
            </button>
          </div>
          <ng-container *ngIf="isInOrderedList()">
            <hr class="dropdown-divider" />
            <button type="button" 
                    (click)="removeOrderedList()" 
                    class="dropdown-item"
                    [title]="'editor.orderedListTypes.remove' | translate">
              <i class="fas fa-times-circle list-remove-icon"></i> {{ 'editor.orderedListTypes.remove' | translate }}
            </button>
          </ng-container>
        </div>
      </div>
      
      <!-- indent / outdent -->
      <button type="button" (click)="indent()" [title]="'editor.toolbar.indent' | translate"><i class="fas fa-indent"></i></button>
      <button type="button" (click)="outdent()" [title]="'editor.toolbar.outdent' | translate"><i class="fas fa-outdent"></i></button>
    </div>

    <div class="toolbar-group">
      <!-- inline marks -->
      <button type="button" (click)="toggleBold()" [title]="'editor.toolbar.bold' | translate"><i class="fas fa-bold"></i></button>
      <button type="button" (click)="toggleItalic()" [title]="'editor.toolbar.italic' | translate"><i class="fas fa-italic"></i></button>
      
      <!-- text formatting dropdown -->
      <div class="toolbar-dropdown">
        <button type="button" (click)="toggleTextFormattingDropdown()" class="dropdown-trigger" [title]="'editor.toolbar.textFormatting' | translate">
          <i class="fas fa-font"></i>
        </button>
        <div class="dropdown-menu" *ngIf="showTextFormattingDropdown" (click)="$event.stopPropagation()">
          <!-- Inline formatting buttons in a single row -->
          <div class="dropdown-button-group">
            <button type="button" (click)="toggleUnderline()" class="dropdown-button" [title]="'editor.toolbar.underline' | translate">
              <i class="fas fa-underline"></i>
            </button>
            <button type="button" (click)="toggleStrike()" class="dropdown-button" [title]="'editor.toolbar.strike' | translate">
              <i class="fas fa-strikethrough"></i>
            </button>
            <button type="button" (click)="toggleCode()" class="dropdown-button" [title]="'editor.toolbar.code' | translate">
              <i class="fas fa-code"></i>
            </button>
            <button type="button" (click)="toggleSuperscript()" class="dropdown-button" *ngIf="enableSuperscript" [title]="'editor.toolbar.superscript' | translate">
              <i class="fas fa-superscript"></i>
            </button>
            <button type="button" (click)="toggleSubscript()" class="dropdown-button" *ngIf="enableSubscript" [title]="'editor.toolbar.subscript' | translate">
              <i class="fas fa-subscript"></i>
            </button>
          </div>
          
          <hr class="dropdown-divider" *ngIf="enableLineHeight || enableFontFamily || enableFontSize || enableTextColor || enableHighlight" />
          <div class="toolbar-fontItems" >
            <!-- line height nested dropdown -->
            <div class="toolbar-dropdown nested-dropdown" *ngIf="enableLineHeight">
              <button type="button" (click)="toggleLineHeightDropdown()" class="dropdown-item">
                <i class="fas fa-arrows-alt-v"></i> {{ getLineHeightLabel() }}
              </button>
              <div class="dropdown-menu nested-menu" *ngIf="showLineHeightDropdown" (click)="$event.stopPropagation()">
                <button type="button" (click)="setLineHeight('normal')" class="dropdown-item">
                  <i class="fas fa-check" [style.visibility]="currentLineHeight === 'normal' ? 'visible' : 'hidden'"></i> {{ 'editor.lineHeight.simple' | translate }}
                </button>
                <button type="button" (click)="setLineHeight('1.15')" class="dropdown-item">
                  <i class="fas fa-check" [style.visibility]="currentLineHeight === '1.15' ? 'visible' : 'hidden'"></i> 1.15
                </button>
                <button type="button" (click)="setLineHeight('1.5')" class="dropdown-item">
                  <i class="fas fa-check" [style.visibility]="currentLineHeight === '1.5' ? 'visible' : 'hidden'"></i> 1.5
                </button>
                <button type="button" (click)="setLineHeight('2')" class="dropdown-item">
                  <i class="fas fa-check" [style.visibility]="currentLineHeight === '2' ? 'visible' : 'hidden'"></i> {{ 'editor.lineHeight.double' | translate }}
                </button>
              </div>
            </div>
            
            <!-- font family nested dropdown -->
            <div class="toolbar-dropdown nested-dropdown" *ngIf="enableFontFamily">
              <button type="button" (click)="toggleFontFamilyDropdown()" class="dropdown-item">
                <i class="fas fa-font"></i>{{ getFontFamilyLabel() }}
              </button>
              <div class="dropdown-menu nested-menu" *ngIf="showFontFamilyDropdown" (click)="$event.stopPropagation()">
                <button 
                  type="button" 
                  *ngFor="let font of fontFamilies" 
                  (click)="setFontFamily(font.value)" 
                  class="dropdown-item"
                  [style.font-family]="font.value !== 'Default' ? font.value : 'inherit'">
                  <i class="fas fa-check" [style.visibility]="currentFontFamily === font.value ? 'visible' : 'hidden'"></i> {{ font.label }}
                </button>
              </div>
            </div>

            <!-- font size nested dropdown -->
            <div class="toolbar-dropdown nested-dropdown" *ngIf="enableFontSize">
              <button type="button" (click)="toggleFontSizeDropdown()" class="dropdown-item">
                <i class="fas fa-text-height"></i> {{ getFontSizeLabel() }}
              </button>
              <div class="dropdown-menu nested-menu" *ngIf="showFontSizeDropdown" (click)="$event.stopPropagation()">
                <button 
                  type="button" 
                  *ngFor="let size of fontSizes" 
                  (click)="setFontSize(size.value)" 
                  class="dropdown-item">
                  <i class="fas fa-check" [style.visibility]="currentFontSize === size.value ? 'visible' : 'hidden'"></i> {{ size.label }}
                </button>
              </div>
            </div>

            <!-- text color nested dropdown -->
            <div class="toolbar-dropdown nested-dropdown" *ngIf="enableTextColor">
              <button type="button" (click)="toggleTextColorDropdown()" class="dropdown-item">
                <i class="fas fa-palette"></i> {{ 'editor.toolbar.textColor' | translate }} 
              </button>
              <div class="dropdown-menu nested-menu color-dropdown-menu" *ngIf="showTextColorDropdown" (click)="$event.stopPropagation()">
                <div class="color-grid">
                  <button 
                    type="button"
                    *ngFor="let color of textColors"
                    class="color-option"
                    [style.background-color]="color.value"
                    [title]="color.label"
                    (click)="selectTextColor(color.value)">
                    <i class="fas fa-check" *ngIf="currentTextColor === color.value"></i>
                  </button>
                </div>
                <div class="color-picker-wrapper">
                  <label class="custom-color-label">
                    {{ 'editor.toolbar.customColor' | translate }}
                    <input type="color" [value]="currentTextColor" (change)="setTextColorFromPicker($event)" class="color-input-small">
                  </label>
                </div>
              </div>
            </div>

            <!-- highlight color nested dropdown -->
            <div class="toolbar-dropdown nested-dropdown" *ngIf="enableHighlight">
              <button type="button" (click)="toggleHighlightColorDropdown()" class="dropdown-item">
                <i class="fas fa-highlighter"></i> {{ 'editor.toolbar.highlightColor' | translate }} 
              </button>
              <div class="dropdown-menu nested-menu color-dropdown-menu" *ngIf="showHighlightColorDropdown" (click)="$event.stopPropagation()">
                <div class="color-grid">
                  <button 
                    type="button"
                    *ngFor="let color of highlightColors"
                    class="color-option"
                    [style.background-color]="color.value"
                    [title]="color.label"
                    (click)="selectHighlightColor(color.value)">
                    <i class="fas fa-check" *ngIf="currentHighlightColor === color.value"></i>
                  </button>
                </div>
                <div class="color-picker-wrapper">
                  <label class="custom-color-label">
                    {{ 'editor.toolbar.customColor' | translate }}
                    <input type="color" [value]="currentHighlightColor" (change)="setHighlightColorFromPicker($event)" class="color-input-small">
                  </label>
                </div>
                <button type="button" (click)="removeHighlight(); closeTextFormattingDropdown()" class="dropdown-item">
                  <i class="fas fa-times"></i> {{ 'editor.toolbar.removeHighlight' | translate }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="toolbar-group">
      <!-- Insert dropdown -->
      <div class="toolbar-dropdown">
        <button type="button" (click)="toggleInsertDropdown()" class="dropdown-trigger" [title]="'editor.toolbar.insert' | translate">
          <i class="fas fa-plus-circle"></i>
        </button>
        <div class="dropdown-menu" *ngIf="showInsertDropdown" (click)="$event.stopPropagation()">
          <button type="button" (click)="setLink(); closeInsertDropdown()" class="dropdown-item" *ngIf="enableMention || toolbarPreset === 'full'">
            <i class="fas fa-link"></i> {{ 'editor.toolbar.link' | translate }}
          </button>
          <button type="button" (click)="unsetLink(); closeInsertDropdown()" class="dropdown-item" *ngIf="enableMention || toolbarPreset === 'full'">
            <i class="fas fa-unlink"></i> {{ 'editor.toolbar.unlink' | translate }}
          </button>
          <button type="button" (click)="openMentionDialog(); closeInsertDropdown()" class="dropdown-item" *ngIf="enableMention">
            <i class="fas fa-at"></i> {{ 'editor.toolbar.mention' | translate }}
          </button>
          <button type="button" (click)="insertTable(); closeInsertDropdown()" class="dropdown-item" *ngIf="enableTable">
            <i class="fas fa-table"></i> {{ 'editor.toolbar.insertTable' | translate }}
          </button>
          <button type="button" (click)="setPageBreak(); closeInsertDropdown()" class="dropdown-item" *ngIf="enablePageBreak">
            <i class="fas fa-file-pdf"></i> {{ 'editor.toolbar.pageBreak' | translate }}
          </button>
        </div>
      </div>
    </div>

  </ng-container>

</div>

<!-- Mention Dialog -->
<div class="mention-dialog-overlay" *ngIf="showMentionDialog" (click)="closeMentionDialog()">
  <div class="mention-dialog" (click)="$event.stopPropagation()">
    <div class="mention-dialog-header">
      <h3>{{ 'editor.dialogs.mentionTitle' | translate }}</h3>
      <button class="close-btn" (click)="closeMentionDialog()">×</button>
    </div>
    <div class="mention-dialog-content">
      <button
        *ngFor="let item of mentionItems"
        class="mention-dialog-item"
        (click)="insertMention(item)">
        {{ item.label }}
      </button>
    </div>
  </div>
</div>

<!-- Balloon Context Menu -->
<div 
  class="balloon-menu" 
  *ngIf="showBalloonMenu"
  [style.top]="balloonMenuPosition.top"
  [style.left]="balloonMenuPosition.left"
  (click)="$event.stopPropagation()">
  
  <!-- Text formatting buttons - show when balloon menu is enabled -->
  <ng-container *ngIf="enableBalloonMenu">
    <button 
      type="button" 
      class="balloon-button" 
      (click)="toggleBold(); closeBalloonMenu()"
      [title]="'editor.balloonMenu.bold' | translate">
      <i class="fas fa-bold"></i>
    </button>
    <button 
      type="button" 
      class="balloon-button" 
      (click)="toggleItalic(); closeBalloonMenu()"
      [title]="'editor.balloonMenu.italic' | translate">
      <i class="fas fa-italic"></i>
    </button>
    <button 
      type="button" 
      class="balloon-button" 
      (click)="toggleStrike(); closeBalloonMenu()"
      [title]="'editor.balloonMenu.strike' | translate">
      <i class="fas fa-strikethrough"></i>
    </button>
    <button 
      type="button" 
      class="balloon-button" 
      (click)="toggleUnderline(); closeBalloonMenu()"
      [title]="'editor.balloonMenu.underline' | translate">
      <i class="fas fa-underline"></i>
    </button>
    <button 
      type="button" 
      class="balloon-button" 
      (click)="toggleCode(); closeBalloonMenu()"
      [title]="'editor.balloonMenu.code' | translate">
      <i class="fas fa-code"></i>
    </button>
    <button 
      type="button" 
      class="balloon-button" 
      (click)="toggleSubscript(); closeBalloonMenu()"
      *ngIf="enableSubscript"
      [title]="'editor.balloonMenu.subscript' | translate">
      <i class="fas fa-subscript"></i>
    </button>
    <button 
      type="button" 
      class="balloon-button" 
      (click)="toggleSuperscript(); closeBalloonMenu()"
      *ngIf="enableSuperscript"
      [title]="'editor.balloonMenu.superscript' | translate">
      <i class="fas fa-superscript"></i>
    </button>
    <div class="balloon-divider"></div>
    <button 
      type="button" 
      class="balloon-button" 
      (click)="setLink(); closeBalloonMenu()"
      [title]="'editor.balloonMenu.link' | translate">
      <i class="fas fa-link"></i>
    </button>
  </ng-container>

  <!-- Table options - show when inside a table -->
  <ng-container *ngIf="isInTable && enableTable">
    <div class="balloon-divider" *ngIf="enableBalloonMenu"></div>
    <button 
      type="button" 
      class="balloon-button" 
      (click)="deleteTable(); closeBalloonMenu()"
      [title]="'editor.table.delete' | translate">
      <i class="fas fa-trash"></i>
    </button>
    <button 
      type="button" 
      class="balloon-button" 
      (click)="duplicateTable(); closeBalloonMenu()"
      [title]="'editor.table.duplicate' | translate">
      <i class="fas fa-copy"></i>
    </button>
    <div class="balloon-divider"></div>
    <button 
      type="button" 
      class="balloon-button" 
      (click)="addTableCaption(); closeBalloonMenu()"
      [title]="'editor.table.addCaption' | translate">
      <i class="fas fa-closed-captioning"></i>
    </button>
    <button 
      type="button" 
      class="balloon-button" 
      (click)="toggleCaptionPosition(); closeBalloonMenu()"
      [title]="'editor.table.captionPosition' | translate">
      <i class="fas fa-arrows-alt-v"></i>
    </button>
    <button 
      type="button" 
      class="balloon-button" 
      (click)="toggleHeaderRow(); closeBalloonMenu()"
      [title]="'editor.table.toggleHeader' | translate">
      <i class="fas fa-heading"></i>
    </button>
    <div class="balloon-divider"></div>
    <button 
      type="button" 
      class="balloon-button" 
      (click)="addRowBefore(); closeBalloonMenu()"
      [title]="'editor.table.addRowBefore' | translate">
      <i class="fas fa-arrow-up"></i>
    </button>
    <button 
      type="button" 
      class="balloon-button" 
      (click)="addRowAfter(); closeBalloonMenu()"
      [title]="'editor.table.addRowAfter' | translate">
      <i class="fas fa-arrow-down"></i>
    </button>
    <button 
      type="button" 
      class="balloon-button" 
      (click)="deleteRow(); closeBalloonMenu()"
      [title]="'editor.table.deleteRow' | translate">
      <i class="fas fa-minus"></i>
    </button>
    <div class="balloon-divider"></div>
    <button 
      type="button" 
      class="balloon-button" 
      (click)="addColumnBefore(); closeBalloonMenu()"
      [title]="'editor.table.addColumnBefore' | translate">
      <i class="fas fa-arrow-left"></i>
    </button>
    <button 
      type="button" 
      class="balloon-button" 
      (click)="addColumnAfter(); closeBalloonMenu()"
      [title]="'editor.table.addColumnAfter' | translate">
      <i class="fas fa-arrow-right"></i>
    </button>
    <button 
      type="button" 
      class="balloon-button" 
      (click)="deleteColumn(); closeBalloonMenu()"
      [title]="'editor.table.deleteColumn' | translate">
      <i class="fas fa-minus"></i>
    </button>
    <div class="balloon-divider"></div>
    <button 
      type="button" 
      class="balloon-button" 
      (click)="mergeCells(); closeBalloonMenu()"
      [title]="'editor.table.mergeCells' | translate">
      <i class="fas fa-compress"></i>
    </button>
    <button 
      type="button" 
      class="balloon-button" 
      (click)="splitCell(); closeBalloonMenu()"
      [title]="'editor.table.splitCell' | translate">
      <i class="fas fa-expand"></i>
    </button>
    <div class="balloon-divider"></div>
    <button 
      type="button" 
      class="balloon-button" 
      (click)="setCellVerticalAlign('top'); closeBalloonMenu()"
      [title]="'editor.table.alignTop' | translate">
      <i class="fas fa-arrow-up"></i>
    </button>
    <button 
      type="button" 
      class="balloon-button" 
      (click)="setCellVerticalAlign('middle'); closeBalloonMenu()"
      [title]="'editor.table.alignMiddle' | translate">
      <i class="fas fa-arrows-alt-h"></i>
    </button>
    <button 
      type="button" 
      class="balloon-button" 
      (click)="setCellVerticalAlign('bottom'); closeBalloonMenu()"
      [title]="'editor.table.alignBottom' | translate">
      <i class="fas fa-arrow-down"></i>
    </button>
  </ng-container>
</div>

<div
  #editorElement
  class="editor-surface"
  [style.min-height]="minHeight">
</div>

<!-- Footer bar with counters -->
<div class="editor-footer" *ngIf="showFooter">
  <div class="footer-counter">
    <span class="counter-label">{{ 'editor.footer.characters' | translate }}:</span>
    <span class="counter-value" 
          [class.counter-below-minimum]="characterMinimum && characterCount < characterMinimum"
          [class.counter-above-limit]="characterLimit && characterCount > characterLimit"
          [class.counter-valid]="(characterMinimum || characterLimit) && (!characterMinimum || characterCount >= characterMinimum) && (!characterLimit || characterCount <= characterLimit)">
      <ng-container *ngIf="characterMinimum && characterLimit">{{ characterCount }} ({{ characterMinimum }}-{{ characterLimit }})</ng-container>
      <ng-container *ngIf="characterMinimum && !characterLimit">{{ characterCount }}/{{ characterMinimum }}+</ng-container>
      <ng-container *ngIf="!characterMinimum && characterLimit">{{ characterCount }}/{{ characterLimit }}</ng-container>
      <ng-container *ngIf="!characterMinimum && !characterLimit">{{ characterCount }}</ng-container>
      <i class="fas fa-exclamation-circle indicator-icon" *ngIf="(characterMinimum && characterCount < characterMinimum) || (characterLimit && characterCount > characterLimit)"></i>
      <i class="fas fa-check-circle indicator-icon" *ngIf="(characterMinimum || characterLimit) && (!characterMinimum || characterCount >= characterMinimum) && (!characterLimit || characterCount <= characterLimit)"></i>
    </span>
  </div>
  
  <div class="footer-counter">
    <span class="counter-label">{{ 'editor.footer.words' | translate }}:</span>
    <span class="counter-value" 
          [class.counter-below-minimum]="wordMinimum && wordCount < wordMinimum"
          [class.counter-above-limit]="wordLimit && wordCount > wordLimit"
          [class.counter-valid]="(wordMinimum || wordLimit) && (!wordMinimum || wordCount >= wordMinimum) && (!wordLimit || wordCount <= wordLimit)">
      <ng-container *ngIf="wordMinimum && wordLimit">{{ wordCount }} ({{ wordMinimum }}-{{ wordLimit }})</ng-container>
      <ng-container *ngIf="wordMinimum && !wordLimit">{{ wordCount }}/{{ wordMinimum }}+</ng-container>
      <ng-container *ngIf="!wordMinimum && wordLimit">{{ wordCount }}/{{ wordLimit }}</ng-container>
      <ng-container *ngIf="!wordMinimum && !wordLimit">{{ wordCount }}</ng-container>
      <i class="fas fa-exclamation-circle indicator-icon" *ngIf="(wordMinimum && wordCount < wordMinimum) || (wordLimit && wordCount > wordLimit)"></i>
      <i class="fas fa-check-circle indicator-icon" *ngIf="(wordMinimum || wordLimit) && (!wordMinimum || wordCount >= wordMinimum) && (!wordLimit || wordCount <= wordLimit)"></i>
    </span>
  </div>
  
  <div class="footer-counter">
    <span class="counter-label">{{ 'editor.footer.paragraphs' | translate }}:</span>
    <span class="counter-value" 
          [class.counter-below-minimum]="paragraphMinimum && paragraphCount < paragraphMinimum"
          [class.counter-above-limit]="paragraphLimit && paragraphCount > paragraphLimit"
          [class.counter-valid]="(paragraphMinimum || paragraphLimit) && (!paragraphMinimum || paragraphCount >= paragraphMinimum) && (!paragraphLimit || paragraphCount <= paragraphLimit)">
      <ng-container *ngIf="paragraphMinimum && paragraphLimit">{{ paragraphCount }} ({{ paragraphMinimum }}-{{ paragraphLimit }})</ng-container>
      <ng-container *ngIf="paragraphMinimum && !paragraphLimit">{{ paragraphCount }}/{{ paragraphMinimum }}+</ng-container>
      <ng-container *ngIf="!paragraphMinimum && paragraphLimit">{{ paragraphCount }}/{{ paragraphLimit }}</ng-container>
      <ng-container *ngIf="!paragraphMinimum && !paragraphLimit">{{ paragraphCount }}</ng-container>
      <i class="fas fa-exclamation-circle indicator-icon" *ngIf="(paragraphMinimum && paragraphCount < paragraphMinimum) || (paragraphLimit && paragraphCount > paragraphLimit)"></i>
      <i class="fas fa-check-circle indicator-icon" *ngIf="(paragraphMinimum || paragraphLimit) && (!paragraphMinimum || paragraphCount >= paragraphMinimum) && (!paragraphLimit || paragraphCount <= paragraphLimit)"></i>
    </span>
  </div>
</div>
